a img {
   cursor: default;
}

html {
   scroll-behavior: smooth;
}

body {
   font-family: 'Preahvihear', sans-serif;
   background: radial-gradient(circle at top center, #1b0031, #0d001a, #05000c);
   margin: 0;
   cursor:  url('/YOUR_PATH/cursor.cur'), auto;
}

.page {
   opacity: 0;
   animation: pageFade 2s ease-in forwards;
}




@keyframes pageFade {
   to {
      opacity: 1;
   }
}

.navbar {
   display: flex;
   justify-content: space-around;
   align-items: center;
   padding: 5px;
   background-color: #1A0B2E;
   width: 100%;
   position: fixed;
   top: 0;
   left: 0;
}

section {
   scroll-margin-top: 400px;
}





.myLogo {
   max-width: 8vh;
   height: auto;
}



.navbar ul li a:hover{
   color: #621e9a;
   transition: 0.9s ease;
}

.logo {
   font-size: 24px;
   font-weight: bold;
   text-decoration: none;
 
}

.logo:hover {
   filter: drop-shadow(0 0 12px rgba(228, 217, 232, 1.5));
   transition: 0.9s ease;
}
.nav-menu {
   display: flex;
   list-style: none;
   gap: 150px;

}

.nav-menu a {
   text-decoration: none;
   color: #ffffff;
}

.hero-intro {
   display: flex;
   align-items: center;
   gap: 40px;
   margin-top: 120px;
   justify-content: center;
}

.text-box {
   padding-left: 20px;
}

.text-box p, h1 {
   color: #ffffff;
}

.hh1 {
   font-size: 50px;
}

.qoute {
   font-size: 11px;
}

.text-box p span {
   color: #7127BA;
}

.avatar-box img {
   filter: drop-shadow(0 0 40px rgba(183, 0, 255, 0.8));
}

.highlight {
  color: #7127BA;
}

.highlight2 {
   width: 674px;
   height: 90px;
   background-color: red;
   font-size: 50px;
   color: #ffffff;
}

.text-wrapper {
   max-width: 700px;
   margin: 0 auto;
   margin-top: 150px;
}

.title-line {
   font-size: 2rem;
   font-weight: bold;
   color: #ffffff;
   margin-bottom: 1rem;
}

.highlight2 {
   color: #ffffff;
}

.cursor {
   color: #ffffff;
}



.description-line {
   font-size: 1rem;
   color: #ffffff;
   line-height: 1.6;
}

.hh2{
   width: 350px;
   height: 70px;
   color: #ffffff;
}

.experience-intro {
   margin-top: 200px;
}

.myProjectText{
   margin: 0 auto;
   max-width: 700px;
}

.myProjects {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px 0;
}



.project-card,.project-card2,.project-card3,.project-card4 {
  display: block;
  width: 480px; 
  border-radius: 18px;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 8px 25px rgba(25, 118, 210, 0.35);
  text-decoration: none;
  color: #0d47a1;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  user-select: none;
  margin-bottom: 1.5rem; 
  border: 3px solid #1b0031;
}

.project-card:hover,.project-card2:hover, .project-card3:hover, .project-card4:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 40px rgba(25, 118, 210, 0.6);
}

.project-image {
  width: 100%;
  height: 260px;  
  object-fit: cover;
  display: block;
}

.project-info {
  padding: 1.2rem 1.5rem 1.8rem;
}

.project-title {
  margin: 0 0 0.6rem;
  font-size: 1.8rem;    
  font-weight: 700;
  letter-spacing: 0.02em;
}

.project-description {
  margin: 0;
  font-size: 1.1rem;   
  line-height: 1.5;
  color: #1976d2;
}


.tech-stack-container {
  position: relative;
  width: 400px;
  height: 400px;
  margin: auto;
}

.techStuckText{
   margin: 0 auto;
   max-width: 700px;
   margin-top: 150px;
}

.techStucks {
   display: flex;
   width: 100%;
   justify-content: center;
   gap: 70px;
   flex-wrap: wrap;
   margin-top: 40px;
}


.techStucks img:hover {
  transition: transform 0.7s ease, box-shadow 0.7s ease;
  transform: translateY(-10px);
}


.tech-icon {
  width: 50px;
  height: 50px;
}

.contact-box-text {
   margin: 0 auto;
   max-width: 700px;
   margin-top: 150px;
}

.contact-box-paragraph{
    color: #542779;
    font-weight:999;
}


.pp1 {
   margin: 0 auto;
   max-width: 700px;
   line-height: 40px;

}

.pp1 .span2 {
   color: #6a3297 ;
   font-weight: 999;
   text-decoration: underline;
}

.git,.inst,.fb,.in {
   height: 30px;

}

.fb {
   border-radius: 30px;
}

.git {
   background-color: white;
   border-radius: 18px;
}


.social-media {
   display: flex;
   margin: 0  auto;
   max-width: 700px;
   margin-top:  22px;
   align-items: center;
   gap: 18px;
   margin-bottom: 20px;
}


.social-media img:hover {
   transition:   transform 0.7s ease, box-shadow 0.7s ease;
   transform:   translateY(-10px);
}

.fade-on-scroll {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.fade-on-scroll.show {
  opacity: 1;
  transform: translateY(0);
}





@media screen  and (width < 916px) {

   header {
       display: flex;
       align-items: center;
   }

   

   .myLogo {
     width: 4vh;
     max-width: 5vh;

   }

   .navbar {
      display: flex;
      align-content: center;
      width: 100%;
      align-items: center;
      font-size: 12px;
   }

   
   .avatar-box {
       margin: 0 auto;
       margin-left: 2vh;
   }

   .text-box {
      display: flex;
      flex-wrap: wrap;
      font-size: 15px;
      width: 200px;
   }

   .text-wrapper {
      margin-left: 2vh;
   }

   .hh1 {
      font-size: 20px;
   }

   .hh2 {
      font-size: 25px;
      margin-left: 2vh;
   }

   .hh3 {
      margin-left: 2vh;
   }

   .techStucks {
       margin: 0 auto;
       display: flex;
       flex-wrap: wrap;
   }

  

   .project-card,.project-card2,.project-card3, .project-card4 {
      width: 43vh;
   }


   .contact-box {
      text-align: center;
   }

   .social-media {
      justify-content: center;
   }

}

@media (min-width: 481px) and (max-width: 768px) { 
          .nav-menu {
              justify-content: space-between;
          }
 }

